@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700;900&family=Poppins:wght@400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700;900&family=Source+Code+Pro:wght@400;500;600&display=swap');

* {
  font-family: 'Montserrat', sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  transition: 400ms;
  scroll-behavior: smooth;
}

body{
  background-image: url("https://www.transparenttextures.com/patterns/asfalt-light.png");
}

h1{
  padding: 0 0 0 10%;
  transition: 400ms;
  text-align: left;
  margin: 40px 0 50px;
}

h2{
  line-height: 2.5rem;
  position: relative;
  margin: 0 0 50px 10%;
}

h3{
  padding: 0 0 0 10%;
  text-align: left;
  line-height: 2.5rem;
  position: relative;
  margin-bottom: 50px;
}

h4 {
  padding: 0 0 0 10%;
  transition: 400ms;
  text-align: left;
  line-height: 2.5rem;
  position: relative;
  margin-bottom: 50px;
  font-size: 5rem;
}

a {
  text-decoration: none;
}

nav{
  padding: 0 10% 0;
  margin-top: 80px;
  flex-wrap: nowrap;
  transition: 400ms;
}

footer {
  width: 100%;
  height: 50px;
  background-color: white;
  box-shadow: 0px 1px 7px rgb(158, 158, 158);
  position: fixed;
  text-align: center;
  bottom: 0px;
}

footer .footer-span{
  transition: 50ms;
  position: relative;
  top: 15px;
  font-size: 1rem;
}

ul{
  width: 900px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  list-style: none;
  position: absolute;
  top: 80px;
  right: 125px;
  z-index: 1;
}

li{
  text-align: center;
  margin: 0 40px;
  font-weight: 500;
  font-size: 1.2rem;
  transition: 400ms;
}

p{
  padding: 0 0 0 10%;
  transition: 400ms;
  text-align: left;
  line-height: 1.7rem;
  position: relative;
  margin-bottom: 50px;
  line-height: 2rem;
  font-weight: 500;
}

span{
  font-size: 3rem;
  line-height: 0.6rem;
}

.home-bottom-div{
  display: none;
}

.about-div h1{
  margin-top: 45px;
}

.skills-h1{
  font-weight: 500;
}

.linkedin-div{
  width: 50px;
  height: 50px;
  position: relative;
  left: 9.5%;
}

.cv a{
  margin: 0;
  font-size: 2rem;
  display: flex;
  position: relative;
  left: 12.8%;
  top: -44px;
  width: 310px;
}

.home-div .appdev{
  position: absolute;
  right: 10%;
  top: 25%;
}

.linkedin-icon{
  display: flex;
  width: 50px;
  height: 50px;
  transition: 0ms;
  position: relative;
  left: 9.6%;
}

.home-div{
  margin-top: 130px;
}

.home-div h1{
  font-size: 5rem;
  line-height: 3rem;
}

.home-div h2{
  margin-bottom: 20px;
}

.home-div h3{
  margin-bottom: 0;
}

.home-div h4 {
  margin-top: 60px;
}

.link{
  transition: 400ms;
  padding: 7px;
  border-radius: 50px;
}

.portfolio-top {
  display: flex;
}

.portfolio-top-content h1 br{
  display: none;
}

.portfolio-top-content a{
  position: relative;
  left: 10%;
}

.portfolio-top-content a button{
  font-family: 'Source Code Pro', monospace;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 50px;
  width: 260px;
  height: 60px;
  font-size: 1.5rem;
  font-weight: 500;
  border-width: 4px;
  border-radius: 10px;
  cursor: pointer;
  border-style: solid;
}

.down-arrow{
  position: relative;
  top: 2px;
  left: 10px;
}

.about-h1 br{
  display: none;
}

.portfolio-top-content {
  margin-right: 373px;
  margin-left: 90px;
}

.webdev-img {
  width: 300px;
  padding-top: 100px;
}

.cards{
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.card-row {
  transition: 400ms;
}

.logo{
  width: 230px;
  position: relative;
  bottom: 20px;
}

.theme-button{
  position: relative;
  bottom: 7px;
  cursor: pointer;
  background: none;
  border-style: none;
  padding: 7px;
  border-radius: 15px;
  transition: 400ms;
}

.portfolio-cards{
  transition: 400ms;
  margin: 80px 0 80px;
  width: 390px;
  resize: none;
  text-align: center;
  border-radius: 10px;
  border-style: solid;
  border-width: 2px;
  box-shadow: 0 1px 10px rgb(0, 0, 0);
}

.portfolio-cards:hover {
  scale: 1.05;
}

.portfolio-cards img{
  transition: 400ms;
  margin: 20px 0 0 0;
  width: 350px;
  border-radius: 10px;
  border-style: solid;
  border-width: 10px;
}

.portfolio-cards p{
  margin: 10px 15px 10px;
  transition: 400ms;
  padding-left: 5px;
}

strong{
  font-family: 'Source Code Pro', monospace;
  font-weight: 900;
}

.code-link{
  transition: 400ms;
  position: relative;
  text-decoration: none;
}

.toggle-button{
  width: 40px;
  height: 40px;
  display: none;
  background: none;
  cursor: pointer;
  border-style: none;
}

.hire-me-div{
  display: flex;
  flex-direction: column;
  max-height: 720px;
}

.hire-me-h2{
  position: relative;
  width: 245px;
  top: -43px;
  left: 50px;
}

.hire-me-div .worker {
  position: relative;
  left: 64.5%;
  bottom: 400px;
  width: 500px;
}

.hire-me-div .hire-me-linkedin{
  position: relative;
  left: 9.5%;
  width: 50px;
  height: 50px;
  z-index: 1;
}

.hire-me-div .mail-to{
  position: relative;
  width: 250px;
  left: 9.9%;
  bottom: 25px;
  font-size: 2rem;
}

/*----------------------------------- LIGHT THEME ------------------------------------------------*/
#light h1{
  color: #2155cd;
}

#light h2{
  color: black;
}

#light h3{
  color: black;
}

#light .home-div h4{
  color: #0aa1dd;
}

#light footer{
  color: black;
}

#light p{
  color: black;
}

#light .cv a{
  color: #2155cd;
}

#light .cv a:hover{
  color: #0aa1dd;
}

#light .home-h1 {
  color: #0aa1dd;
}

#light .linkedin-icon{
  filter: invert(20%) sepia(100%) saturate(1779%) hue-rotate(213deg) brightness(105%) contrast(95%);
}

#light .linkedin-icon:hover{
  filter: invert(42%) sepia(90%) saturate(1733%) hue-rotate(167deg) brightness(99%) contrast(92%);
}


#light .menu-icon{
  color: rgb(102, 102, 102);
}

#light .theme-button:hover{
  background-color: rgba(155, 155, 155, 0.2);
}

#light .link{
  color: rgb(102, 102, 102);
}

#light .link:hover{
  background-color: rgba(155, 155, 155, 0.2);
}

#light .code-link{
  color: #2155cd;
}

#light .card-row{
  background-color: #2155cd;
  width: 100%;
}

#light .card-row-2 {
  background-color: #79DAE8;
}

#light .card-row-3{
  background-color: #2155cd;
}

#light .card-row-4 {
  background-color: #79DAE8;
}

#light .portfolio-cards{
  background-color: #0aa1dd;
  border-color: #2155cd;
 }

#light .portfolio-cards img{
  border-color: #2155cd;
}

#light .portfolio-cards p{
  color: white;
}

#light .mail-to {
  color: #2155cd;
}

#light .mail-to:hover{
  color: #0aa1dd;
}

#light .portfolio-top-content a button{
  background-color: #2155cd;
  border-color: #0aa1dd;
  border-style: solid;
  color: rgb(255, 255, 255);
}

#light .portfolio-top-content a button:hover{
  background-color: #2e70ff;
}


#light .down-arrow{
  color: white;
}

/* ---------------------------------------------DARK THEME  --------------------------------------------*/
.theBody{
 background-color: rgb(0, 0, 0);
}

#dark h1 {
  color: #cd3c21;
}

#dark h2{
  color: white;
}

#dark h3{
  color: white;
}

#dark .home-div h4{
  color: #ed9a03;
}

#dark footer {
  color: white;
}

#dark p{
  color: white;
}

#dark .cv a{
  color: #ed9a03;
}

#dark .cv a:hover{
  color: #cd3c21;
}

#dark .skills-h1{
  color: #ed9a03;
}

#dark .home-h1 {
  color: #ed9a03;
}

#dark .linkedin-icon{
  filter: invert(71%) sepia(34%) saturate(6040%) hue-rotate(6deg) brightness(101%) contrast(98%);
}

#dark .linkedin-icon:hover{
  filter: invert(30%) sepia(97%) saturate(2048%) hue-rotate(349deg) brightness(83%) contrast(91%);
}

#dark .menu-icon{
  color: rgb(255, 255, 255);
}

#dark .theme-button:hover{
  background-color: rgba(255, 255, 255, 0.2);
}

#dark .link{
  color: rgb(255, 255, 255)
}

#dark .link:hover{
  background-color: rgba(255, 255, 255, 0.2);
}

#dark .code-link{
  color: #cd3c21;
}

#dark .portfolio-cards{
  box-shadow: 0 1px 10px rgb(107, 107, 107);
  background-color: #ed9a03;
  border-color: #cd3c21;
}

#dark .portfolio-cards img{
  border-color: #cd3c21;
}

#dark .portfolio-cards p{
  color: black;
}

#dark .mail-to {
  color: #ed9a03;
}

#dark .mail-to:hover{
  color: #cd3c21;
}

#dark .portfolio-top-content a button{
  background-color: #ed9a03;
  border-color: #cd3c21;
  color: #000000;
}

#dark .portfolio-top-content a button:hover{
  background-color: #ffcd6f;
}

#dark .down-arrow{
  color: #000000;
}

#dark footer{
  background-color: black;
}
/* ------------------------------------------------media------------------------------------------------ */
@media (max-width: 1725px) {
  .webdev-img {
    display: none;
  }
}

@media (max-width: 1523px) {
  .appdev{
    display: none;
  }
}

@media (max-width: 1365px){

  .portfolio-top-content a{
    position: relative;
    left: 5px;
  }

  br{
    display: none;
  }

  h1{
    margin-top: 100px;
    padding-left: 5px;
  }

  h2{
    margin-right: 40px;
    padding-left: 5px;
  }

  h3{
    margin-right: 40px;
    padding-left: 5px;
  }

  p{
    margin-right: 40px;
    padding-left: 5px;
  }

  ul{
    flex-direction: column;
    display: none;
    position: absolute;
    top: 120px;
  }

  nav{
    padding: 0;
  }

  li{
    margin: 10px -95px 10px 0;
    text-align: right;
  }

  .linkedin-div{
    width: 50px;
    height: 50px;
    position: relative;
    left: -43px;
    bottom: 15px;
  }

  .cv a{
    font-size: 2rem;
    display: flex;
    position: relative;
    left: 53px;
    top: -40px;
  }

  .home-bottom-div{
    display: block;
    height: 170px;
    width: 100%;
  }

  .home-div{
    text-align: left;
    margin: 30px 0 0 40px;
  }

  .home-div h1{
    line-height: 6rem;
    margin: 3px 0 10px 0;
    padding-left: 0;
  }

  .home-div h2{
    position: relative;
    margin-left: 0px;
  }

  .home-div h3{
    margin-bottom: 0px;
    width: 300px;
  }

  .home-div h4{
    padding: 0px;
    font-size: 3.5rem;
    line-height: 5rem;
    margin: 0 0 25px;
  }

  .linkedin-icon{
    margin: 20px 0 0 0;
    left: 40px;
    position: absolute;
    display: flex;
  }

  .logo{
    margin-left: 45px;
  }

  .on-screen {
    display: flex;
    animation: 400ms slide-up;
  }

  .off-screen{
    display: flex;
    animation: 400ms disappear;
    animation-fill-mode: forwards;
  }

  .toggle-button{
    display: block;
    position: absolute;
    top: 80px;
    right: 26px;
  }

  .webdev-img {
  display: none;
  }

  .about-div h1{
    margin-left: 35px;
  }

  .about-div h2 {
    margin-left: 35px;
  }
  .about-div h3{
    margin-left: 35px;
  }

  .about-div p{
    margin-left: 35px;
  }

  .portfolio-top{
  display: block;
  }

  .portfolio-top-content h1{
    margin-top: 45px;
  }

  .portfolio-top-content h2{
    margin-left: 0;
  }

  .portfolio-top-content {
  margin: 0 40px;
  }

  .hire-me-div .worker{
    display: none
  }

  .hire-me-div .hire-me-linkedin{
    position: relative;
    bottom: 17px;
    left: -7px;
  }
  
  .hire-me-div .mail-to{
    position: relative;
    left: 38px;
    bottom: 25px;
    font-size: 1.3rem;
  }

  .hire-me-div h1{
    margin-left: 35px;
  }

  .hire-me-div h2{
    margin-left: 35px;
  }

  .hire-me-div h3{
    margin-left: 35px;
  }

  .skills-h1{
    margin-right: 35px;
  }

  .about-div .about-h1{
    margin-top: 65px;
  }
  
  .home-h3{
    margin-top: 100px;
  }

@media (max-width: 515px) {
  .about-h1 br{
    display: flex;
  }

  .portfolio-top-content h1 br{
    display: block;
  }
}

@media (max-width: 360px) {
  .portfolio-top-content a{
    position: relative;
    top: 10px;
  }  
}

@media (max-width: 285px) {
  nav{
    margin-top: 50px;
  }

  ul{
    top: 85px;
    right: 74px;
  }

  .logo{
    left: -35px;
  }

  .toggle-button{
    top: 50px;
    right: -25px;
  }

  .home-div{
    text-align: left;
    margin-left: 5px;
  }

  .home-div h1{
    line-height: 6rem;
    margin: 3px 0 10px 5px;
    padding-left: 0;
  }

  .home-div h2 {
    margin-left: 5px;
    padding-left: 0;
    position: relative;
    top: 60px;
}

  .home-div h3{
    margin-bottom: 0px;
    width: 300px;
  }

  .home-div h4{
    padding: 0px;
    font-size: 3rem;
    line-height: 5rem;
    margin: 0 0 0 5px;
  }

  .linkedin-icon{
    left: 5px;
    position: absolute;
  }

  .about-div h1{
    margin-left: 5px;
  }

  .about-div h2{
    margin-left: 5px;
  }

  .about-div p{
    margin:0 0 50px 5px;
  }

  .about-div h3{
    margin-left: 5px;
  }

  .skills-h1{
    margin-bottom: 50px;
  }

  .portfolio-top-content{
    margin: 0;
  }

  .portfolio-top-content h1{
    margin-left: 5px;
  }

  .portfolio-top-content h2{
    margin: 0 5px 50px 5px;
  }

  .portfolio-top-content h3{
    padding: 0;
    margin-left: 10px;
  }

  .portfolio-top-content p{
    margin-left: 5px;
  }

  .portfolio-cards{
    width: 250px;
  }

  .card-row, .card-row-2, .card-row-3, .card-row-4{
    position: relative;
    left: 12px;
  }

  .portfolio-cards img {
    width: 220px;
  }

  .hire-me-div h1{
    margin-left: 5px;
  }

  .hire-me-div h2{
    margin-left: 5px;
    width: 245px;
  }
  
  .hire-me-div .mail-to{
    position: relative;
    left: 8px;
    font-size: 1.2rem;
  }

  .hire-me-div .hire-me-linkedin{
    left: 0px;
    bottom: 16px;
  }

  .hire-me-div h3{
    margin-left: 5px;
  }

  footer{
    width:305px
  }
}
/* ------------------------------------------------------keyframes------------------------------------------------- */
  @keyframes slide-up {
    from {
      opacity: 0;
      transform: translateY(210%);
    }
    to {
      opacity: 1;
      transform: translateY(0%);
    }
  }
  
  @keyframes disappear {
    from {
      opacity: 1;
      transform: translateY(0%);
    }
    to {
      transform: translateY(210%);
      opacity: 0;
      visibility: hidden;
    }
  }
}
